<!DOCTYPE html>
<%- include('./partials/top'); -%>
        <p class="basic" style="margin-top: 10vh;">Sivua ei löytynyt</p>
        <div id="btnholder">
                <button id="button" onclick="home()">&check;</button>
        </div>
<%- include('./partials/bottom'); -%>