<!DOCTYPE html>
<%- include('./partials/top'); -%>
        <p class="basic">Tapahtui virhe, yritä hetken kuluttua uudelleen</p>
        <div id="btnholder">
                <button id="button" onclick="home()">&check;</button>
        </div>
<%- include('./partials/bottom'); -%>