<!DOCTYPE html>
<%- include('./partials/top'); -%>
        <div class="holder" id="holder">
                <p class="thanks">Kiitos!</p>
        </div>
        <script>
                setTimeout(home, 2000);
        </script>
<%- include('./partials/bottom'); -%>